<h2 class='display-5 text-center'> Hans Zimmer</h2>
<hr>
<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
      <img src="./assets/hans.jpg" alt='hans zimmer'/>
      <figcaption>Source: http://www.hans-zimmer.com/index.php?rub=bio</figcaption>
    </div>
    <div class='col-sm-8'>
      <p>Hans Zimmer is a German composer; he was born in Frankfurt in 1957. He had begun playing piano
         at three years old but lost interest after only two weeks of lessons. At six years old he decided
          he wanted to be a composer. His first taste of success came with his band the Buggles hit sing Video
           Killed the Radio Start. He has gone on to write over 140 original film scores for films such as
           Interstellar, Pirates of the Caribbean, Mission Impossible, Inception, and many other blockbuster films.</p>
    </div>
  </div>
</div>
